#database
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

#tavily
TAVILY_API_KEY=
MAX_RESULT_PER_TOPIC=5

#embedding
EMBEDDING_MODEL=all-MiniLM-L6-v2
EMBEDDING_DIM=384

#chunk
CHUNK_SIZE=400
CHUNK_OVERLAP=50

#schedule interval time(hours)
SCHEDULE_INTERVAL_HOURS=1
